# Full upstream archives include corpora without blanket redistribution rights.
# Retain locally; pinned public URLs/SHA and licensed Mathlib subset are published.
complete_menu_pools.tar.gz
complete_menu_runs.tar.gz
